{% extends 'layout.html' %}
{% load static %}
{% load comment_tags %}
{% load likes_tags %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <h3>{{ blog.title }}</h3>
                <div>
                    <i class="fas fa-user">{{ blog.author }}&nbsp;</i>
                    <i class="fas fa-clock">{{ blog.create_time|date:"Y-m-d" }}&nbsp;</i>
                    <i class="fas fa-tag">
                    <a href="{% url 'blogs_with_type' blog.blog_type.id %}">{{ blog.blog_type }}&nbsp;</a></i>
                    <i class="fas fa-eye">{{ blog.get_read_num }}&nbsp;</i>
                    <i class="fas fa-comments">{% get_comment_count blog %}&nbsp;</i>
                </div>
                <p class="md-4">{{ blog.content|safe }}</p>
                <div class="like mb-3" onclick="likeChange(this, '{% get_content_type blog %}', {{ blog.pk }})">
                    <i class="far fa-thumbs-up {% get_liked_status blog %}"></i>
                    <span class="like-count">{% get_like_count blog %}</span>
                    <span>&nbsp;like</span>
                </div>
                <div class="blog-more">
                    {% if previous_blog %}
                        <h6>Previous Blog: <a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a></h6>
                    {% endif %}
                    {% if next_blog %}
                        <h6>Next Blog: <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a></h6>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <div class="mt-4">
                <h4 class="border-bottom pb-2">Submit your comment</h4>
                    {% if user.is_authenticated %}
                        <form id="comment_form" action="{% url 'update_comment' %}" method="post">
                            {% csrf_token %}
                            <label for="comment_text">{{ user }}, please leave your comment:</label>
                            <div id="reply_content_container" class="border border-bottom-0 pl-2" style="display: none">
                                <span>Reply: </span>
                                <span id="reply_content"></span>
                            </div>
                            {% get_comment_form blog as comment_form %}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <span id="comment_error" class="text-danger"></span>
                            <span id="comment_success" class="text-success"></span>
                        </form>
                    {% else %}
                        Please login to comment.
                        <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">Login</a>
                        <span>or</span>
                        <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">Register</a>
                    {% endif %}
                </div>
                <div class="mt-4">
                    <h4 class="pb-2">Comment List</h4>
                    <ul id="comment_list" class="list-group list-group-flush mb-4 pb-4">
                    {% get_comments blog as comments %}
                    {% for comment in comments %}
                        <li id="root_{{ comment.pk }}" class="list-group-item">
                            <span>{{ comment.user.username }}</span>
                            <span>({{ comment.comment_time|date:"Y-m-d H:i" }}):</span>
                            <div id="comment_{{ comment.pk }}">
                                {{ comment.text|safe }}
                            </div>
                            <div class="like mr-2" onclick="likeChange(this, '{% get_content_type comment %}', {{ comment.pk }})">
                                <i class="far fa-thumbs-up {% get_liked_status comment %}"></i>
                                <span class="like-count">{% get_like_count comment %}</span>
                            </div>
                            <a href="javascript:reply({{ comment.pk }});" class="small">Reply</a>

                            {% for reply in comment.root_comment.all %}
                            <div class="ml-4">
                                <span>{{ reply.user.username }}</span>
                                <span>({{ reply.comment_time|date:"Y-m-d H:i" }})</span>
                                <span>reply</span>
                                <span>{{ reply.reply_to.username }}:</span>
                                <div id="comment_{{ reply.pk }}">
                                    {{ reply.text|safe }}
                                </div>
                                <div class="like mr-2" onclick="likeChange(this, '{% get_content_type reply %}', {{ reply.pk }})">
                                    <i class="far fa-thumbs-up {% get_liked_status reply %}"></i>
                                    <span class="like-count">{% get_like_count reply %}</span>
                                </div>
                                <a href="javascript:reply({{ reply.pk }});" class="small">Reply</a>
                            </div>
                            {% endfor %}
                        </li>
                    {% empty %}
                        <li id="no_comment" class="list-group-item">
                            No comment yet
                        </li>
                    {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="login_modal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form id="login_modal_form" action="" method="post">
                  <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        {% for field in login_form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>
                    <div id="login_modal_tip" class="text-danger small"></div>
                  </div>

                  <div class="modal-footer">
                    <a class="btn btn-danger pull-left" href="{% url 'register' %}?from={{ request.get_full_path }}">Register</a>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block extend %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block script %}

    <script type="text/javascript">
        function reply(reply_comment_id) {
            $("#reply_comment_id").val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $("#reply_content").html(html);
            $("#reply_content_container").show();

            $("html").animate({scrollTop: $("#comment_form").offset().top - 60}, 300, function () {
                CKEDITOR.instances['id_text'].focus();
            })
        }
        
        function numFormat(num) {
            return ('00' + num).substr(-2);
        }
        
        function timeFormat(timestamp){
            var datetime = new Date(timestamp * 1000);
            var year = datetime.getFullYear();
            var month = numFormat(datetime.getMonth() + 1);
            var date = numFormat(datetime.getDate());
            var hour = numFormat(datetime.getHours());
            var minute = numFormat(datetime.getMinutes());
            return year + '-' + month + '-' + date + ' ' + hour + ':' + minute;
        }

        $("#comment_form").submit(function () {
            $("#comment_error").text('');
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()===''){
                $("#comment_error").text('Comment content cannot be none.');
                return false;
            }

            CKEDITOR.instances['id_text'].updateElement();

            $.ajax({
                url: "{% url 'update_comment' %}",
                type: "post",
                data: $(this).serialize(),
                cache: false,
                success: [function (data) {
                    if(data['status']==="SUCCESS"){
                        if($("#reply_comment_id").val()==='0'){
                            //add comment
                            var comment_html = `<li id="root_${data['pk']}" class="list-group-item">
                                                    <span>${data['username']}&nbsp;</span>
                                                    <span>(${timeFormat(data['comment_time'])}):&nbsp;</span>
                                                    <div id="comment_${data['pk']}">${data['text']}&nbsp;</div>
                                                    <div class="like mr-2" onclick="likeChange(this, \'${data['content_type']}\', ${data['pk']})">
                                                        <i class="far fa-thumbs-up"></i>
                                                        <span class="like-count">0</span>
                                                    </div>
                                                    <a href="javascript:reply(${data['pk']});" class="small">Reply</a>
                                                </li>`;
                            $("#comment_list").prepend(comment_html);
                        }else{
                            //add reply
                            var reply_html = `<div class="ml-4">
                                                  <span>${data['username']}</span>
                                                  <span>(${timeFormat(data['comment_time'])})</span>
                                                  <span>reply</span><span>${data['reply_to']}:</span>
                                                  <div id="comment_${data['pk']}">${data['text']}</div>
                                                  <div class="like mr-2" onclick="likeChange(this, \'${data['content_type']}\', ${data['pk']})">
                                                        <i class="far fa-thumbs-up"></i>
                                                        <span class="like-count">0</span>
                                                  </div>
                                                  <a href="javascript:reply(${data['pk']});" class="small">Reply&nbsp;</a>
                                              </div>`;
                            $("#root_" + data['root_pk']).append(reply_html);
                        }
                        CKEDITOR.instances['id_text'].setData('');
                        $("#reply_content_container").hide();
                        $("#reply_comment_id").val('0');
                        $("#no_comment").remove();
                        $("#comment_success").text('Comment submitted');
                        var comment_num = parseInt($('.fa-comments').text())+1
                        $('.fa-comments').text(comment_num)
                    }else{
                        $("#comment_error").text(data['message']);
                    }
                }],
                error: [function (xhr) {
                    console.log(xhr);
                }]
            });
            return false;
        });
        
        function likeChange(obj, content_type, object_id) {
            var is_liked = obj.getElementsByClassName('active').length === 0;
            $.ajax({
                url: '{% url 'update_like' %}',
                type: 'GET',
                data: {
                    content_type: content_type,
                    object_id: object_id,
                    is_liked: is_liked,
                },
                cache: false,
                success: function (data) {
                    if (data['status']==='SUCCESS'){
                        var element = $(obj.getElementsByTagName('i'));
                        if (is_liked) {
                            element.addClass('active');
                        }else{
                            element.removeClass('active');
                        }
                        var liked_num = $(obj.getElementsByClassName('like-count'));
                        liked_num.text(data['liked_num']);
                    }else{
                        if (data['code']===400) {
                            $('#login_modal').modal('show');
                        }else{
                            alert(data['message']);
                        }
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                },
            });
        }
        
        $("#login_modal_form").submit(function () {
            $.ajax({
                url: "{% url 'login_for_modal' %}",
                type: 'post',
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    if (data['status']==='SUCCESS') {
                        window.location.reload();
                    }else{
                        $("#login_modal_tip").text('Username or password is not correct');
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
            return false;
        });
        
    </script>

{% endblock %}
