{% extends 'layout.html' %}

{% block title %}Mysite|Blog{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% block content %}
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-4">
                  <div class="card-header">
                    Blog List ({{ blog_page.paginator.count }})
                  </div>
                  <ul class="list-group list-group-flush">
                    {% for blog in blogs %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <h4><a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a></h4>
                                <div>
                                    <i class="fas fa-tag"></i>
                                    <a href="{% url 'blogs_with_type' blog.blog_type.id %}">{{ blog.blog_type }}</a>
                                    <i class="far fa-clock"></i>{{ blog.create_time|date:"Y-m-d" }}
                                </div>
                                <p>{{ blog.content|truncatewords:45 }}</p>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            <p>-- No Blog at the moment --</p>
                        </li>
                    {% endfor %}
                  </ul>
                </div>

                <ul class="pagination">

                    <li class="page-item {% if not blog_page.has_previous %}disabled{% endif %}">
                        <a class="page-link" href="?page={% if blog_page.has_previous %}{{ blog_page.previous_page_number }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    {% for page_num in blog_page.paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endfor %}

                    <li class="page-item {% if not blog_page.has_next %}disabled{% endif %}">
                      <a class="page-link" href="?page={% if blog_page.has_next %}{{ blog_page.next_page_number }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>

                </ul>

            </div>
            <div class="col-md-4 d-none d-md-block">
                <div class="card">
                  <div class="card-header">
                    Blog Tags
                  </div>
                  <ul class="list-group list-group-flush">
                    {% for blog_type in blog_types %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{% url 'blogs_with_type' blog_type.pk %}">{{ blog_type.type_name }}</a>
                            <span class="badge badge-secondary badge-pill">{{ blogs|length }}</span>
                        </li>
                    {% empty %}
                        <li class="list-group-item">No Blog Tags Yet</li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
        </div>
    </div>




{% endblock %}