{% extends 'layout.html' %}
{% load static %}
{% load comment_tags %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <h3>{{ blog.title }}</h3>
                <div>
                    <i class="fas fa-user"></i>{{ blog.author }}&nbsp;
                    <i class="far fa-clock"></i>{{ blog.create_time|date:"Y-m-d" }}&nbsp;
                    <i class="fas fa-tag"></i>
                    <a href="{% url 'blogs_with_type' blog.blog_type.id %}">{{ blog.blog_type }}</a>&nbsp;
                    <i class="fas fa-eye"></i>{{ blog.get_read_num }}&nbsp;
                    <i class="fas fa-comments"></i>{% get_comment_count blog %}&nbsp;
                </div>
                <p class="md-4">{{ blog.content|safe }}</p>
                <div class="blog-more">
                    {% if previous_blog %}
                        <h6>Previous Blog: <a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a></h6>
                    {% endif %}
                    {% if next_blog %}
                        <h6>Next Blog: <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a></h6>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <div class="mt-4">
                <h4 class="border-bottom pb-2">Submit your comment</h4>
                    {% if user.is_authenticated %}
                        <form id="comment_form" action="{% url 'update_comment' %}" method="post">
                            {% csrf_token %}
                            <label for="comment_text">{{ user }}, please leave your comment:</label>
                            <div id="reply_content_container" style="display: none">
                                <span>Reply: </span>
                                <span id="reply_content"></span>
                            </div>
                            {% get_comment_form blog as comment_form %}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <span id="comment_error" class="text-danger"></span>
                            <span id="comment_success" class="text-success"></span>
                        </form>
                    {% else %}
                        Please login to comment.
                        <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">Login</a>
                        <span>or</span>
                        <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">Register</a>
                    {% endif %}
                </div>
                <div class="mt-4">
                    <h4 class="pb-2">Comment List</h4>
                    <ul id="comment_list" class="list-group list-group-flush mb-4 pb-4">
                    {% get_comments blog as comments %}
                    {% for comment in comments %}
                        <li id="root_{{ comment.pk }}" class="list-group-item">
                            <span>{{ comment.user.username }}</span>
                            <span>({{ comment.comment_time|date:"Y-m-d H:i" }}):</span>
                            <div id="comment_{{ comment.pk }}">
                                {{ comment.text|safe }}
                            </div>
                            <a href="javascript:reply({{ comment.pk }});" class="small">Reply</a>

                            {% for reply in comment.root_comment.all %}
                            <div class="ml-4">
                                <span>{{ reply.user.username }}</span>
                                <span>({{ reply.comment_time|date:"Y-m-d H:i" }})</span>
                                <span>reply</span>
                                <span>{{ reply.reply_to.username }}:</span>
                                <div id="comment_{{ reply.pk }}">
                                    {{ reply.text|safe }}
                                </div>
                                <a href="javascript:reply({{ reply.pk }});" class="small">Reply</a>
                            </div>
                            {% endfor %}
                        </li>
                    {% empty %}
                        <li id="no_comment" class="list-group-item">
                            No comment yet
                        </li>
                    {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extend %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block script %}

    <script type="text/javascript">
        $("#comment_form").submit(function () {
            $("#comment_error").text('');
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()===''){
                $("#comment_error").text('Comment content cannot be none.');
                return false;
            }

            CKEDITOR.instances['id_text'].updateElement();

            $.ajax({
                url: "{% url 'update_comment' %}",
                type: "post",
                data: $(this).serialize(),
                cache: false,
                success: [function (data) {
                    console.log(data);
                    if(data['status']==="SUCCESS"){
                        if($("#reply_comment_id").val()==='0'){
                            //add comment
                            var comment_html = '<li id="root_' + data['pk'] + '" class="list-group-item">' +
                            '<span>' + data['username'] + '</span>' +
                            '<span>(' + data['comment_time'] + '):</span>' +
                            '<div id="comment_' + data['pk'] + '">' + data['text'] + '</div>' +
                            '<a href="javascript:reply(' + data['pk'] + ');" class="small">Reply</a></li>';
                            $("#comment_list").prepend(comment_html);
                        }else{
                            //add reply
                            var reply_html = '<div class="ml-4">'+
                                '<span>' + data['username'] + '</span>'+
                                '<span>(' + data['comment_time'] + ')</span>'+
                                '<span>reply</span>'+
                                '<span>' + data['reply_to'] + ':</span>'+
                                '<div id="comment_' + data['pk'] + '">'+ data['text'] + '</div>'+
                                '<a href="javascript:reply(' + data['pk'] + ');" class="small">Reply</a></div>';
                            $("#root_" + data['root_pk']).append(reply_html);
                        }
                        CKEDITOR.instances['id_text'].setData('');
                        $("#reply_content_container").hide();
                        $("#reply_comment_id").val('0');
                        $("#no_comment").remove();
                        $("#comment_success").text('Comment submitted');
                    }else{
                        $("#comment_error").text(data['message']);
                    }
                }],
                error: [function (xhr) {
                    console.log(xhr);
                }]
            });
            return false;
        });

        function reply(reply_comment_id) {
            $("#reply_comment_id").val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $("#reply_content").html(html);
            $("#reply_content_container").show();

            $("html").animate({scrollTop: $("#comment_form").offset().top - 60}, 300, function () {
                CKEDITOR.instances['id_text'].focus();
            })
        }
    </script>

{% endblock %}
