{% extends 'layout.html' %}
{% load static %}

{% block title %}
    MySite|Register
{% endblock %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <div class="card">
                    <div class="card-header">
                        Register
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {% for field in reg_form %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                {% endfor %}
                            </div>
                            <div class="text-danger">{{ reg_form.non_field_errors.0 }}</div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}